/* Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --main_color: #e89d2d;
  --secondary_color: #cccccc;
  --bg_color: #011f2a;
  --fast_transition: 0.2s;
  --slow_transition: 0.5s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Playfair Display", serif;
  font-family: "Montserrat", sans-serif;
  color: white;
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* Start Header */

/* Start Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bg_color);
  padding: 1rem 0;
  position: fixed;
  z-index: 111111;
  width: 100vw;
}

.navbar .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
}

.navbar .logo .real-estate .advertise {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--main_color);
  width: fit-content;
  border-radius: 1rem;
  padding: 5px 10px;
  cursor: pointer;
  margin-bottom: 5px;
}

.navbar .logo .real-estate .advertise i {
  color: black;
}

.navbar .logo .real-estate .advertise button {
  border: none;
  outline: none;
  background-color: transparent;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}

.navbar .logo .real-estate p {
  color: var(--secondary_color);
  font-size: 10px;
}

.navbar .links {
  display: flex;
  gap: 1.5rem;
}

.navbar .links a {
  color: var(--secondary_color);
  font-size: 12px;
  text-transform: uppercase;
  transition: var(--fast_transition);
  position: relative;
}

.navbar .links a:hover {
  color: var(--white);
}

.navbar .links a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  transition: var(--fast_transition);
  background-color: var(--white);
}

.navbar .links a:hover::before {
  width: 100%;
}

.navbar .links a:hover {
  color: var(--white);
}

.navbar .links li:first-child a {
  color: var(--main_color);
}

.navbar .links li:first-child a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 1px;
  transition: var(--fast_transition);
  background-color: var(--main_color);
}

.navbar .links li:first-child a:hover::before {
  width: 70%;
}

.navbar .language {
  display: flex;
  gap: 1.5rem;
}

.navbar .language i {
  font-size: 10px;
}

.navbar .language button {
  background-color: transparent;
  color: var(--white);
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.navbar .language .login,
.lang {
  display: flex;
  gap: 5px;
  align-items: center;
  cursor: pointer;
}

.navbar .language .login {
  color: var(--main_color);
}

.navbar .language .login button {
  color: var(--main_color);
}

.navbar .language .lang button {
  text-transform: uppercase;
}

.navbar .language .lang i {
  transition: var(--slow_transition);
  transform: rotateY(0);
}

.navbar .language .lang:hover i {
  transform: rotateY(180deg);
}
/* End Navbar */

/* Start the main Header */
.header {
  background-image: url("../images/header.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.header::before {
  content: "";
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.header::after {
  content: "";
  background-color: var(--main_color);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 3px;
}

.header .title {
  font-size: 14px;
  text-align: center;
  z-index: 100;
}

.header .title h1 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
  font-size: 3rem;
}

.header .title h1 span {
  color: var(--main_color);
}

.header .title p {
  line-height: 1.5;
  margin-top: 10px;
}

.header .buttons {
  display: flex;
  gap: 3rem;
  margin: 3rem 0 1rem;
  z-index: 100;
}

.header .buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  font-weight: bold;
}
.header .buttons button:first-child {
  color: var(--main_color);
  border: 2px solid var(--main_color);
  border-radius: 3rem;
  padding: 7px 20px;
}

.header .search {
  z-index: 100;
  background-color: white;
  color: black;
  border: 4px solid var(--main_color);
  border-radius: 2.5rem;
  padding: 1rem;
  width: 50vw;
  display: grid;
  gap: 1rem;
  align-items: end;
  grid-template-columns: repeat(3, 1fr) 120px;
}

.header .search .input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.header .search .input h4 {
  font-weight: normal;
}

.header .search .input select {
  border-radius: 3rem;
  border: 1px solid var(--main_color);
  padding: 10px 1rem;
  outline: none;
  cursor: pointer;
  transition: var(--fast_transition);
}

.header .search .input select:focus {
  border-radius: 5px;
}

.header .search .input option {
  font-size: 1rem;
}

.header .search .submit {
  border-radius: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  background-color: var(--main_color);
  padding: 10px 1rem;
  transition: var(--fast_transition);
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 2px;
}

.header .search .submit:hover {
  background-color: black;
  color: var(--main_color);
}

.header .search .submit i {
  font-size: 12px;
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
  .header {
    height: 60vh;
  }

  .header .title h1 {
    font-size: 2rem;
  }

  .header .title p {
    font-size: 14px;
    margin: 1rem 1rem 0;
  }

  .header .buttons {
    display: flex;
    gap: 3rem;
    margin: 3rem 0 1rem;
    z-index: 100;
  }

  .header .buttons button {
    display: none;
  }

  .header .buttons .property {
    display: block;
    background-color: white;
    color: var(--main_color);
    padding: 1rem 3rem;
    border-radius: 2rem;
    outline: none;
    margin-top: -2rem;
  }

  .header .search {
    display: none;
  }
}

/* Responsive styles for tablet */
@media (max-width: 1199px) and (min-width: 768px) {
  .header {
    height: 60vh;
  }

  .header .buttons button {
    display: none;
  }

  .header .buttons .property {
    display: block;
    background-color: white;
    color: var(--main_color);
    padding: 1rem 3rem;
    border-radius: 2rem;
    outline: none;
    margin-top: -2rem;
    font-size: 1.5rem;
  }

  .header .search {
    display: none;
  }
}

/* End the main Header */

/* End Header */

/* Start Properties section */
.properties {
  position: relative;
  background-color: var(--bg_color);
  padding: 4rem 0;
}

.properties::after {
  content: "";
  background-color: var(--main_color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60%;
  height: 3px;
}

.properties .right {
  position: absolute;
  width: 200px;
  height: 300px;
  opacity: 0.5;
  top: 1rem;
  right: 1rem;
}
.properties .left {
  position: absolute;
  width: 200px;
  height: 300px;
  opacity: 0.5;
  bottom: 1rem;
  left: 1rem;
}

.properties .title {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 2rem;
  margin-left: 18rem;
}

.properties .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 7px;
  border-radius: 1rem;
  background-color: var(--main_color);
}

.properties .title h2 {
  font-size: 14px;
}

.properties .title h2 span {
  color: var(--main_color);
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}

.properties .items {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

.properties .items .item {
  position: relative;
  border: 2px solid var(--main_color);
  border-radius: 10px;
  width: fit-content;
  padding: 7px;
  background-color: white;
  color: black;
  transition: var(--fast_transition);
}

.properties .items .item:hover {
  transform: translateY(-20px);
}

.properties .items .item .image .main {
  width: 300px;
  height: 300px;
  border-radius: 15px;
  border: 2px solid var(--main_color);
}

.properties .items .item .image .buttons button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: white;
  padding: 7px 10px;
  border-radius: 10px;
  position: absolute;
  top: 2rem;
}

.properties .items .item .image .buttons button:nth-child(1) {
  background-color: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  left: 0;
  margin-left: 2rem;
}

.properties .items .item .image .buttons button:nth-child(2) {
  background-color: #e89d2dca;
  right: 0;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: var(--fast_transition);
}

.properties .items .item .image .buttons button:nth-child(2):hover {
  background-color: var(--main_color);
}

.properties .items .item .image .identity {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 10px solid var(--bg_color);
  position: absolute;
  top: 280px;
  right: 30px;
}

.properties .items .item .information {
  margin: 12px 0;
}

.properties .items .item .information .city {
  display: flex;
  gap: 10px;
  align-items: center;
}

.properties .items .item .information .city i {
  color: var(--main_color);
}

.properties .items .item .information .currency {
  margin: 12px 0;
  display: flex;
  gap: 5px;
  font-weight: bold;
}

.properties .items .item .information .name {
  margin: 12px 0;
  font-weight: bold;
  color: black;
}

.properties .items .item .information .unit {
  margin: 12px 0;
}

.properties .items .item .information .details-share {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.properties .items .item .information .details-share .details {
  background-color: #cccccc4f;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 1rem;
  padding: 5px;
}

.properties .items .item .information .details-share .details div span {
  font-weight: bold;
}

.properties .items .item .information .details-share .details div i {
  color: var(--main_color);
}

.properties .items .item .information .details-share .details p {
  margin-top: 10px;
}

.properties .items .item .information .details-share .share {
  display: flex;
  gap: 1rem;
}

.properties .items .item .information .details-share .share i {
  border-radius: 50%;
  background-color: var(--main_color);
  padding: 8px;
  cursor: pointer;
}

.properties .more {
  text-align: center;
  margin-top: 1rem;
}

.properties .more button {
  border: none;
  cursor: pointer;
  background-color: var(--main_color);
  padding: 1rem 2rem;
  border-radius: 60px;
  outline: none;
  font-size: 1rem;
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
  .properties .right {
    width: 100px;
    height: 150px;
  }
  .properties .left {
    width: 100px;
    height: 100px;
  }

  .properties .title {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .properties .title::before {
    left: 30%;
  }

  .properties .title h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.7;
  }

  .properties .title h2 span {
    font-size: 1.5rem;
  }

  .properties .items {
    flex-direction: column;
    margin: 2rem 1rem 0;
  }

  .properties .items .item {
    width: 100%;
  }

  .properties .items .item:hover {
    transform: unset;
  }

  .properties .items .item .image .main {
    width: 100%;
  }

  .properties .items .item .image .identity {
    width: 60px;
    height: 60px;
    top: 270px;
  }

  .properties .items .item .information .details-share .share i {
    padding: 12px;
    font-size: 20px;
  }

  .properties .more {
    margin-top: 2rem;
  }

  .properties .more button {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
  }
}

/* Responsive styles for tablet */
@media (max-width: 1199px) and (min-width: 768px) {
  .properties .right {
    width: 100px;
    height: 150px;
  }
  .properties .left {
    width: 100px;
    height: 100px;
  }

  .properties .title {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .properties .title::before {
    left: 40%;
  }

  .properties .title h2 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.7;
  }

  .properties .title h2 span {
    font-size: 2rem;
  }

  .properties .items {
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem 0;
  }

  .properties .items .item .image .identity {
    width: 60px;
    height: 60px;
    top: 270px;
  }

  .properties .items .item .information .details-share .share i {
    padding: 12px;
    font-size: 20px;
  }

  .properties .more {
    margin-top: 2rem;
  }

  .properties .more button {
    padding: 1.5rem 2rem;
    font-size: 1.2rem;
  }
}

/* End Properties section */

/* Start services section */
.services {
  position: relative;
  padding: 4rem 0;
  background-image: url("../images/services.webp");
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}

.services::before {
  content: "";
  background-color: var(--bg_color);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.services .title {
  position: relative;
  padding-left: 1rem;
  margin-bottom: 4rem;
  margin-left: 18rem;
}

.services .title::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 7px;
  border-radius: 1rem;
  background-color: var(--main_color);
}

.services .title h2 {
  font-size: 14px;
}

.services .title h2 span {
  color: var(--main_color);
  font-family: "Playfair Display", serif;
  font-size: 3rem;
}

.services .boxes {
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: black;
}

.services .box:nth-child(1) {
  transform: translateY(-2rem);
}

.services .box:nth-child(2) {
  transform: translateY(-1rem);
}

.services .boxes .box {
  position: relative;
  z-index: 111;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border: 2px dashed var(--main_color);
  border-radius: 2rem;
}

.services .boxes .box:hover {
  background-color: white;
}

.services .boxes .box i:not(:last-child) {
  position: absolute;
  top: -1.5rem;
  right: 2rem;
  border-radius: 50%;
  background-color: var(--main_color);
  color: white;
  padding: 1rem;
}

.services .boxes .box .service h4 {
  font-size: 1.5rem;
  font-family: "Playfair Display", serif;
}

.services .boxes .box .service p {
  margin: 1rem 0;
  width: 20vw;
  color: var(--secondary_color);
}

.services .boxes .box .service .more {
  cursor: pointer;
  background-color: transparent;
  color: var(--main_color);
  border: none;
  outline: none;
}

.services .boxes .box .service .more i {
  transition: var(--fast_transition);
}

.services .boxes .box .service .more:hover i {
  transform: translateX(5px);
}

/* Responsive styles for mobile */
@media (max-width: 767px) {
  .services {
    padding: 2rem 1rem;
    height: unset;
  }

  .services .title {
    position: relative;
    padding-left: unset;
    margin: unset;
    margin-left: 1rem;
  }

  .services .title::before {
    left: -15px;
  }

  .services .title h2 span {
    font-size: 1.5rem;
  }

  .services .boxes {
    gap: 1rem;
    flex-direction: column;
    margin: 3rem 0; 
  }

  .services .boxes .box .service p {
    width: unset;
    color: black;
  }
}

/* Responsive styles for tablet */
@media (max-width: 1199px) and (min-width: 768px) and (min-width: 768px) {
  .services {
    padding: 2rem 1rem 10rem;
    height: unset;
  }

  .services .title {
    position: relative;
    padding-left: unset;
    margin: unset;
    margin-left: 1rem;
  }

  .services .title::before {
    left: -15px;
  }

  .services .title h2 span {
    font-size: 1.5rem;
  }

  .services .boxes {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .services .boxes .box {
    padding: 15px;
  }

  .services .boxes .box i:not(:last-child) {
    font-size: 1.5rem;
  }

  .services .boxes .box .service p {
    width: unset;
    color: black;
  }
}

/* End services section */

/* Start footer */
.footer {
  position: relative;
  background-color: var(--bg_color);
}

.footer .contacts {
  border: 2px solid var(--main_color);
  width: fit-content;
  padding: 1rem 6rem;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: var(--bg_color);
  position: absolute;
  top: -5rem;
  transform: translateX(25%);
}

.footer .contacts .phone h2,
.footer .contacts .location h2,
.footer .contacts .email h2 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

.footer .contacts .phone,
.footer .contacts .location,
.footer .contacts .email {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.footer .contacts .phone .main,
.footer .contacts .location .main,
.footer .contacts .email .main {
  color: var(--main_color);
  font-size: 2rem;
}

.footer .contacts .phone i {
  color: var(--main_color);
  font-size: 12px;
}

.footer .contacts .phone .numbers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.footer a {
  color: white;
  opacity: 0.6;
  transition: var(--slow_transition);
}

.footer a:hover {
  color: var(--main_color);
  opacity: 1;
  text-decoration: underline;
}

.footer .contacts .location .locations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.footer .contacts .email .addresess {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .foot {
  background-image: url("../images/footer.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 50% 40%;
  position: relative;
  padding: 10rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer .foot img {
  width: 150px;
  height: 150px;
}

.footer .foot p {
  width: 400px;
  opacity: 0.7;
  line-height: 1.7;
}

.footer .foot h5 {
  font-family: "Playfair Display", serif;
  font-size: 1rem;
}

.footer .foot .links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .foot .help {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer .rights {
  background-color: black;
  display: flex;
  padding: 12px 0;
  justify-content: space-around;
}

.footer .rights .copy a {
  color: var(--main_color);
  opacity: 1;
}

.footer .rights .copy a:hover {
  text-decoration: none;
}

.footer .rights .social {
  display: flex;
  gap: 1rem;
}

.footer .rights .social i {
  border-radius: 50%;
  background-color: var(--main_color);
  color: black;
  padding: 5px;
  cursor: pointer;
  transition: var(--slow_transition);
}

.footer .rights .social i:hover {
  background-color: white;
}

/* Responsive styles for tablet */
@media (max-width: 1199px) and (min-width: 768px) {
  .footer .contacts {
    padding: 1rem 3rem;
    gap: 3rem;
    top: -6rem;
    transform: unset;
    margin: 0 2rem;
  }

  .footer .contacts .phone h2,
  .footer .contacts .location h2,
  .footer .contacts .email h2 {
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
  }

  .footer .contacts .phone i {
    color: var(--main_color);
    font-size: 12px;
  }

  .footer .contacts .phone .numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer .foot {
    padding: 8rem 0;
  }

  .footer .foot img {
    width: 100px;
    height: 100px;
  }

  .footer .foot p {
    width: 300px;
    text-align: justify;
  }

  .footer .foot .links {
    gap: 1rem;
  }

  .footer .foot .help {
    gap: 1rem;
  }
}

/* End footer */
